*{font-family:'ËÎÌו';font-size:15px;font-style:italic;font-weight:normal;}
#banner{width:100%;height:251px;margin:0;padding:0;}
#nav{width:100%;height:80px; margin:0;text-align:center;font-size:30px;}
#nav a{font-size:30px;color:#4EEE94;}
#nav a:link{text-decoration:none;}
#nav a:hover{color:pink;}
#nav img{margin-left:20px;margin-right:25px;}
#nav form{float:right;margin-top:25px;margin-right:20px;}
#content{color:green;font-size:30px;}
.b{width:80%;height:800px;margin-left:150px;}
#video{width:1000px;height:600px;margin-left:150px;}
#footer{clear:both;float:left;margin-left:245px;}